.company-info {
  text-align: center;
  margin-bottom: 20px;
}

.expense-list {
  display: flex;
}

.expense-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.expense-card p {
  margin: 5px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.expense-list {
  flex-direction: column;
  align-items: center; /* Aligns items horizontally (left to right) */
  justify-content: auto; /* Aligns items vertically (top to bottom) */
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.fixed-container {
    flex: 1; /* Allow the container to grow and occupy the remaining space */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 300px; /* Set a fixed height */
}

.ExpenseComponent {
  overflow-y: auto; /* Adds a vertical scrollbar if content overflows */
  max-height: 50vh; /* Set maximum height to ensure scrolling if content is too large */
  width: 100%; /* Set the width to 80% of the container */
  margin-top: 20px; /* Adds some space at the top */
}

.BottomButton {
    padding: 10px;
    background-color: #f0f0f0; /* Add background color or any other styles you desire */
} 



