.user-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .user-info, .expense-form, .expense-list {
    margin-bottom: 20px;
  }
  
  .expense-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .expense-form {
    align-items: start;
    border-radius: 5px;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 3px -3px grey;
  }

  .expense-form form label {
    display: block;
    margin-bottom: 10px;
  }

  .expense-form form input,
  .expense-form form select {
      width: 100%; /* Make input and select fields fill the width */
      padding: 8px; /* Add padding for better spacing */
      box-sizing: border-box; /* Include padding and border in the width */
  }

  label {
    font-size: larger;
  }

  .pageTitle {
    font-size: x-large;
  }

  .welcome {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
  }

  .formPad {
    padding: 5px;
  }